.bbb{
    
    background-color: grey;
}
/* .ccc{
    background-color: lightslategray;
    width: 500px;
height: 400px;
margin-top: 200px;
margin-left: 500px;

} */
.AAA{
font-family: cursive;

}
.azx{
    width: 600px;
    height: 100px;
    margin-top: 200px;
}
.abs{
    
}